<!DOCTYPE html>
<html ng-app="repcheckr">
<head>
    <title>Movie watcher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%include includesTop.ejs%>
</head>
<body>

<div class="page-header">
    <h1>Movie watcher<small> genoeg gezever</small></h1>

    <div class="input-group col-lg-12">
      <span class="input-group-btn">
        <button class="btn btn-default" id="btnSearch" type="button">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            Search
        </button>
      </span>
        <input type="text" name="txtMovie" class="form-control" placeholder="Movie/Series..."/>

      <span class="input-group-btn">
           <button type="button" id="btnNext" class="btn btn-default btn-default" aria-label="Left Align">
               <span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span> Next link
           </button>
      </span>
    </div>
</div>

<iframe id="frmMovie"></iframe>

<div id="movieList" class="container">
</div>

<div id="loading">
    <img src="../Public/images/ajax-loader.gif" alt="loading..." description="loading..."/>
</div>

<%include includesBottom.ejs%>
</body>
</html>