body{
    background:url("../images/bg.jpg");
}

.left{
    float:left;
}
.right{
    float:right !important;
    clear:right;
}

.movieHolder{
    height:25px;
}

.page-header,
.right{
    margin:15px;
}

#loading{
    width:24px;
    height:24px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

#movieList{
    overflow-y: auto;
}


@media only screen
and (max-width : 480px) {
    .page-header h1{display:none;}
    .right{float:none;}
}

@media only screen
and (max-width: 760px){
    .page-header small{display:none;}
}
