.left{
    float:left;
}
.right{
    float:right;
    clear:right;
}

.spacer{
    height:5px;
}

.page-header,
.right{
    margin:15px;
}

#loading{
    width:24px;
    height:24px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}